/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(base.svg);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .face.up {
    left: 44px;
    top: 0;
    background-position: -54px -10px;
}

